// color variables
$main-color: #fbfffc;
$second-color:#430fd0;

html {
  background: $main-color;
  color: $second-color;
}
// ==========================
// layout block
// ==========================
.l-container {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 5%;
  & > section {
    border-radius: 10px;
    background: #fbfffc;
    box-shadow:  20px 20px 60px #d5d9d6,-20px -20px 60px #ffffff;
    margin-bottom: 50px;
    padding: 20px 50px;
  }
}
// ==========================
// common BLock
// ==========================
// title
.c-ttl {
  color: $second-color;
  text-align: center;
}

.c-addBlock {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  & > .c-addBlock--text {
    flex: 1 1 100%;
  }
  & > .c-addBlock--btn {
    flex: 0 0 auto;
  }
}

// todoList
.c-todoList {
  padding: 0;
  & > .c-todoList--item + .c-todoList--item {
    margin-top: 20px;
  }
  .c-todoList--item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    list-style: none;
    & > .c-todoList--left,
    & > .c-todoList--right {
      flex: 0 0 auto;
    }
    & > .c-todoList--center {
      flex: 1 1 auto;
    }
  }
}
.c-todoList--done {
  & .c-checkBtn > span::after {
    display: block;
  }
}

// btn
.c-btn {
  max-width: 150px;
  padding: 10px 20px;
  border: 1px solid $second-color;
  border-radius: 16px;
  font-size: 1rem;
  background: $second-color;
  color: $main-color;
  appearance: none;
  cursor: pointer;
  &:hover,
  &:focus {
    transition: .5s;
    background: $main-color;
    color: $second-color;
  }
}

.c-checkBtn {
  position: relative;
  & > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    top: -1000px;
  }
  & span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $second-color;
    border-radius: 5px;
    background: $main-color;
    color: $second-color;
    cursor: pointer;
  }
  & span::after {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    width: 0.5rem;
    height: 0.8rem;
    border-right: 2px solid $second-color;
    border-bottom: 2px solid $second-color;
    transform: rotate(45deg);
  }
  & > input[type="checkbox"]:checked + span::after {
    display: block;
  }
}